/* Estilo general */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 20px;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(211, 15, 15, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2687e9;
}


/* Formulario */
form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

form input,
form button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

form button:hover {
  background-color: #2980b9;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

table th {
  background-color: #3498db;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

button {
  padding: 5px 10px;
  margin: 0 2px;
  border-radius: 5px;
  border: none;
  background-color: #f39c12;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e67e22;
}

/* Enlace volver */
a.volver {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
}

a.volver:hover {
  text-decoration: underline;
}

/* Menú principal */
ul{
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 15px 0;
}

ul a {
  display: inline-block;
  background-color: #2ecc71;
  color: white;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s;
}

.menu a:hover {
  background-color: #27ae60;
}
